<div class="ui large inverted menu">
 <div class="ui container">
    <a class="item">
      Sala de chats
    </a>
    <a class="item">
      Mensages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Cuenta <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Iniciar Sesión</a>
          <a class="item">Regístrarse</a>
          <a class="item">Cerrar Sesión</a>
        </div>
      </div>
      <div class="item">
          <div class="ui primary button">Iniar Sesion</div>
      </div>
    </div>
 </div>
</div>
